.container{
    flex-grow: 1;
    max-width: 700px;
    height: 500px;
}

header{
    padding: 0 0 1em 0;
}
header h1{
    letter-spacing: 0.06em;
}

.search-box{
    border-radius: 0.75em;
    background: #1c203d;
    padding: 0.375em 0.5em;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-box::before{
    content: '\f002';
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 20px;
    left: 0.75em;
    color: #3434a0;
}

.search-box input{
    flex-grow: 1;
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    padding: 0.6em 1em 0.6em 2em;
    letter-spacing: 0.055em;
    background: none;
}


.search-box input::placeholder{
    color: rgb(202, 190, 190);
    letter-spacing: 0.125em;
}

.search-btn{
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 0.6em;
    background: #3333d4;
    padding: 0.6em 1em;
    cursor: pointer;
}

.search-btn:hover,
.search-btn:focus
{
    background: #5555df;
}
.search-btn:active{
    background: #3333d4;
}

.user-container{
    display: flex;
    flex-direction: column;
    padding: 1.125em;
    border-radius: 0.75em;
}

.user-container, .user-container *{
    background: #1c203d;
}


.profile{
    display: flex;
    justify-content: flex-start;
    padding: 0.3em 0;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #13162c;
    position: relative;
}

img{
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.username{
    margin-top: 0.6em;
    margin-left: 1.25em;
}

.username h2{
    font-size: 28px;
    margin-bottom: 0.17em;
    letter-spacing: 0.07em;
}
p{
    letter-spacing: 0.06em;
}

.bio{
    font-size: 18px;
    margin: 0.4em 0;
    line-height: 1.3em;
}

.repo-info{
    border-radius: 0.75em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.25em 0; 
}

.repo-info, .repo-info *{
    background: #13162c;
}

.cols{
    flex-grow: 1;
    flex-basis: 80px;
    padding: 0.6em 1.25em;
}

.cols label{
    display: block;
    margin-bottom: 0.5em;
}

.more-info{
    font-size: 18px;
    margin-bottom: 0.55em;
}


.location::before{
    content: '\f041';
    font-family: 'FontAwesome';
    margin-right: 1.2em;
}

.url::before{
    content: '\f0c1';
    font-family: 'FontAwesome';
    margin-right: 0.8em;
}
.twitter::before{
    content: '\f099';
    font-family: 'FontAwesome';
    margin-right: 0.8em;
}

.unavailable{
    color: #ffffff93;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

@media (max-width: 620px){
    #root{
        padding: 0 0.5em;
    }
}

@media (max-width: 378px){
    .search-box input,
    .search-box input::placeholder,
    .search-btn{
        font-size: 15px;
    }

    .profile-img{
        width: 75px;
        height: 75px;
    }

    .username h2{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    .more-info{
        font-size: 15px;
    }
}