@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #13162c;
    font-family: 'Glory', sans-serif;
    color: #fff;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

#root{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}